:root {
    --nav-bgcolor: rgb(165, 28, 48);
    /* green */
    --nav-color: white;
    /* white */
    --nav-hover: rgb(236, 143, 156);
}

* {
    box-sizing: border-box;
}

body {
    font-family: helvetica, sans-serif;
    margin: 0;
}

main,
header h1 {
    margin: 0 2rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
    display: block;
    background-color: var(--nav-bgcolor);
    color: var(--nav-color);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--nav-hover);
    color: var(--nav-color);
}

nav {
    min-height: 30px;
    background-color: var(--nav-bgcolor);
    background-image: url(../images/pancake-menu.svg);
    background-repeat: no-repeat;
    padding-top: 30px;;
}

ul.collapsed {
    display: none;
}

nav.expanded {
    background-image: url(../images/x-menu.svg);
}

nav li {
    padding: 0.75rem;
}

@media screen and (min-width: 800px) {

    nav ul,
    nav ul.collapsed {
        display: flex;
    }
    nav { padding-top: 0;
        background-image: none;}
    nav ul li {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 10rem;
    }

    nav a:link,
    nav a:visited,
    nav a:hover,
    nav a:active {
        text-align: center;
        padding: 0.5rem;
    }

}